In [24]:
import pandas as pd
import gc

In [25]:
df_raw = pd.read_csv("../data/raw/AIS_.csv")
df_raw.head()

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass
0,367327560,2024-12-21T00:00:00,28.90868,-95.36085,0.0,197.1,234.0,CINDY HULL,NaN,WDE2631,31.0,0.0,27.0,9.0,3.0,31.0,A
1,367197410,2024-12-21T00:00:00,29.81289,-93.34633,0.0,301.1,173.0,CANDY COUNTER,IMO9550943,WDD8297,60.0,0.0,58.0,10.0,2.0,60.0,A
2,368379440,2024-12-21T00:00:00,29.37004,-94.83555,8.1,287.7,511.0,NaN,NaN,NaN,0.0,12.0,0.0,0.0,0.0,0.0,A
3,368210340,2024-12-21T00:00:00,27.82719,-97.49622,0.0,139.4,126.0,OTTO,IMO1307459,WDM4850,52.0,1.0,95.0,18.0,2.8,57.0,A
4,368394280,2024-12-21T00:00:00,30.21755,-91.31747,0.0,273.9,348.0,NaN,NaN,NaN,0.0,15.0,20.0,8.0,0.0,0.0,A

In [26]:
df_raw.shape

(13747851, 17)

In [27]:
df_raw["MMSI"].nunique()

4996

In [28]:
#identify features worth keeping
col_to_keep = ["MMSI", "BaseDateTime", "LAT", "LON", "SOG", "COG", "Heading", "VesselType", "Status", "Length", "Width", "Draft"]
df_reduced = df_raw[col_to_keep]
#select only cargo and tankers
df_reduced = df_reduced.loc[ (df_reduced["VesselType"] >= 70) & (df_reduced["VesselType"] < 90),:]

In [29]:
df_reduced.shape

(1760960, 12)

In [30]:
df_reduced.to_parquet("../data/processed/ais_filtered.parquet")

In [31]:
del df_raw
gc.collect()

1183